<%layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-2" role="alert">
    <h4 class="alert-heading"> <%=message%> </h4>
    </div>
</div>
<div class="row">
    <a href="/listings" class="btn btn-dark col-3 offset-2">Return</a>
</div>