<%layout("/layouts/boilerplate") %>
<br>
<h3> Create New Listing</h3>
<div class="row">
    <div class="col-8 offset-2">
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label"> Title</label>
            <input  name="listing[title]" type="text" placeholder="Enter Title" class="form-control" required>
            <div class="valid-feedback">Title looks good !</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control" required></textarea>
            <div class="valid-feedback">Description looks good !</div>
            <div class="invalid-feedback">Description Should be Valid!</div>
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Upload Image</label>
            <input name="listing[image]"  type="file" class="form-control" required>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="Enter Price" type="number" class="form-control" required>
                <div class="valid-feedback">Valid Price!</div>
                <div class="invalid-feedback">Invalid Price !</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Location, Country" type="text" class="form-control" required>
                <div class="valid-feedback">Location looks good !</div>
                <div class="invalid-feedback">Invalid Location</div>
            </div>
        </div>
        <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select id="category" name="listing[category]" class="form-select" required>
            <option value="" selected disabled>Select a category</option>
            <option value="Trending">Trending</option>
            <option value="Rooms">Rooms</option>
            <option value="IconicCities">Iconic Cities</option>
            <option value="Mountain">Mountain</option>
            <option value="Castles">Castles</option>
            <option value="Arctic">Arctic</option>
            <option value="House">House</option>
        </select>
        <div class="invalid-feedback">Please choose a category.</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
    </div>
</div>
